.best {
    padding-bottom: 20px;
    padding-top: 5px;
}
.best--1 {
    background: url('../images/src/main-bg.png') no-repeat center / cover;
    padding-top: 75px;
    padding-bottom: 90px;
    margin-top: -43px;
}

.best-box__content--1 {
    background-image: url('../images/dist/best-bg-el.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.best-box__head--1 {
    padding-top: 60px;
}

.best-box__content--2 {
    background-image: url('../images/dist/best-bg-el-2.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.best-box--sub {
    .best-box__info-img {
        margin-bottom: 0;
    }
    .best-box__content {
        padding-top: 80px;
    }
    .best-box__btn {
        max-width: 245px;
    }
    .best-box__info {
        position: relative;
        padding-bottom: 20px;

        &::after {
            position: absolute;
            content: "";
            left: -10px;
            width: calc(100% + 20px);
            bottom: 0;
            height: 1px;
            background-color: #ffffff;
        }
    }
}

.best-box {

    &__head {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-top: 66px;
    }

    &__img {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
    }

    &__title {
        display: inline-block;
        position: relative;
        border-radius: 15px 15px 0 0;
        background-color: $orange;
        padding: 15px 25px;
        border-top: 2px solid #ffd200;

        span {
            position: relative;
            z-index: 6;
        }

        &::before {
            position: absolute;
            content: "";
            transform: skewX(-25deg);
            background-color: $orange;
            left: -23px;
            top: 0;
            width: 40px;
            height: 93%;
            border-radius: 15px 15px 0 0;
            border-left: 2px solid #ffd200;
            z-index: 3;
        }
        
        &::after {
            position: absolute;
            content: "";
            transform: skewX(25deg);
            background-color: $orange;
            right: -23px;
            top: 0;
            width: 40px;
            height: 93%;
            border-radius: 15px 15px 0 0;
            border-right: 2px solid #ffd200;
            z-index: 3;
        }
    }
    
    &__head-left,
    &__head-right {
        position: relative;
        display: flex;
        align-items: center;
        background-color: $orange;
        padding: 10px 15px;

        img {
            display: block;
            & + img {
                margin-left: 15px;
            }
        }
    }

    &__head-left {
        padding-right: 60px;
        padding-left: 8px;

        &::before {
            position: absolute;
            content: "";
            transform: skewX(-19deg);
            background-color: $orange;
            left: -23px;
            top: 0;
            width: 30px;
            height: 100%;
            border-radius: 7px 9px 0 0;
        }
    }

    &__head-right {
        padding-left: 60px;
        padding-right: 8px;

        &::after {
            position: absolute;
            content: "";
            transform: skewX(19deg);
            background-color: $orange;
            right: -23px;
            top: 0;
            width: 30px;
            height: 100%;
            border-radius: 7px 9px 0 0;
        }
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: flex-start;
        // align-items: center;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 3px 20px 0px rgba(55, 55, 55, 0.15);
        border-radius: 5px;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 10px;
            left: 0;
            top: 0;
            border-top: 5px solid $orange;
            border-radius: 5px;
        }
    }

    &__inner {
        background-color: #ebeef7;
        padding: 10px;
        max-width: 560px;
        border-radius: 5px;
    }

    &__info {
        display: flex;
        align-items: flex-start;
        margin-bottom: 15px;
    }


    &__info-img {
        display: block;
        margin-bottom: 10px;
        img {
            border-radius: 5px;
        }
    }

    &__rating-list {
        display: flex;
        align-items: center;
    }
    
    &__rating {
        display: flex;
        align-items: center;
    }

    &__rating--mob {
        display: none;
    }

    &__rating-value {
        color: #898989;
        font-size: 20px;
        line-height: 28px;
        margin-left: 5px;
    }

    &__rating-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3px;
    }

    &__info-descr {
        padding-left: 20px;
    }

    &__info-title {
        display: inline-block;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    &__info-subtitle {
        font-family: 'Roboto-Light', sans-serif;
        font-weight: 300;
    }

    &__info-link {
        display: inline-block;
        font-family: 'Roboto-Light', sans-serif;
        font-weight: 300;
        color: $green;
        margin-bottom: 15px;
    }

    &__reviews-btn {
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        display: inline-block;
        color: $green;
        padding: 15px 50px;
        border-radius: 5px;
        border: 1px solid $green;
        text-align: center;
        transition: .2s ease;
    }

    &__foot {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__promocode {
        position: relative;
        padding: 15px;
        background-color: #ffffff;
        border-radius: 5px;
        height: 50px;
        width: 100%;
        padding-right: 60px;
        text-align: center;
        max-width: 250px;

        
    }

    &__promocode-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        border-radius: 5px;
        background-color: $green;
        transition: .2s ease;

        &:hover {
            background-color: #017d05;
        }
    }

    &__promocode-text {
        text-transform: uppercase;
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
    }

    &__btn-wrapper {
        width: 100%;
        padding-left: 15px;
    }

    &__btn {
        width: 100%;
        & + .best-box__promocode {
            transition: .3s ease;
            height: 0;
            padding: 0;
            overflow: hidden;
            opacity: 0;
        }

        &.open {
            display: none;
        }

        &.open + .best-box__promocode {
            height: 50px;
            padding: 15px;
            padding-right: 60px;
            overflow: visible;
            opacity: 1;
        }
    }

    &__btn-caption {
        margin-top: 8px;
        font-family: 'Roboto-Light', sans-serif;
        font-weight: 300;
        color: $green;
        text-align: center;
    }

    &__games {
        display: flex;
        padding-left: 20px;
        margin: -5px;
    }

    &__game {
        display: flex;
        padding: 5px;
        max-width: 145px;

        img {
            transition: .2s ease;
            border-radius: 5px;
        }

        &:hover {
            img {
                box-shadow: 0px 0px 17px 7px rgba(250,177,1,0.54);
            }
        }
    }

    &__subtitle {
        position: absolute;
        bottom: -57px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-family: 'Roboto-Light', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        background-color: #ebeef7;
        padding: 12px 20px;
        text-transform: none;
        text-align: center;
        z-index: 4;

        &::before {
            position: absolute;
            content: "";
            transform: skewX(25deg);
            background-color: #ebeef7;
            left: -23px;
            top: 0;
            width: 40px;
            height: 100%;
            border-radius: 0 0 0 15px;
            z-index: 3;
        }
        
        &::after {
            position: absolute;
            content: "";
            transform: skewX(-25deg);
            background-color: #ebeef7;
            right: -23px;
            top: 0;
            width: 40px;
            height: 100%;
            border-radius: 0 0 15px 0;
            z-index: 3;
        }
    }
}

