/**************************\
  Basic Modal Styles
\**************************/
.modal-test {
	min-height: 80vh;
}
.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__close {
      cursor: pointer;
    background: transparent;
    border: 0;
  }
  
.modal__close:before { content: "\2715"; font-size: 30px;color: $orange; font-weight: 700; }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
 
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }

#modal-2 {
    .modal__container {
        padding: 40px;
    }
  
    .modal__close::before {
        color: #fff;
    }
    .modal__title {
        width: calc(100% - 92px);
        &::before,
        &::after {
            width: 40px;
        }
    }
}
.modal {
    &__overlay {
        z-index: 50;
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
    }
    &__title-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: -105px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        margin-left: -20px;
        margin-right: -20px;
    }
    &__container {
        max-width: 465px;
        width: 100%;
        overflow: visible;
        margin-left: 10px;
        margin-right: 10px;
    }

    .modal__title {
        display: block;
        position: relative;
        background-color: $orange;
        padding: 13px;
        width: calc(100% - 92px);
    

        &::before,
        &::after {
            background-color: $orange;
            width: 40px;
        }
    }

    &__close {
        position: absolute;
        top: -170px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__content {
        margin: 0;
    }
    
    &__container {
        padding: 20px;
        margin-top: 200px;
    }

    &__form {
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        background-color: $grey;
    }

    &__form-item {
        margin-bottom: 20px;

        input {
            font-family: 'Roboto-Light', sans-serif;
            font-weight: 300;
            font-size: 16px;
            display: block;
            width: 100%;
            padding: 15px;
            color: #898989;
            border: 1px solid #e8e8e8;
            border-radius: 5px;
        }
    }

    &__form-btn {
        width: 100%;
    }
}

