
// USER VARIABLES SECTION
$black: #292929 ;
$red: #990006;
$lightred: #f14841;
$lightgreen: #7ec999;
$orange: #fcb201;
$blue: #00aeff;
$green: #00a806;
$grey: #ebeef7;
$fontsize: 16px; // Body Font Size
$userfont: 'Roboto', sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$bg: #fff;

// IMPORT SECTION

	
// @import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@font-face {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'),
		url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-display: swap;
	font-style: normal;

}

@font-face {
	font-family: 'Roboto-Light', sans-serif;
	src: local('Roboto Light'), local('Roboto-Light'),
		url('../fonts/Roboto-Light.woff2') format('woff2'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}


@font-face {
    font-family: 'Roboto-Medium';
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('../fonts/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

// GENERAL DOCUMENT STYLES

input, textarea {
	outline: transparent;
}
	

body {
	position: relative;
	font-family: $userfont;
	font-size: 16px;
	line-height: 22px;
	color: $black;
	min-width: 320px;
	background-color: $bg;
	overflow-x: hidden;
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
}
	

*, *::before, *::after {
	box-sizing: inherit;
}
	
	
ul, li {
	padding: 0;
	margin: 0;
}

ol li, ul li {
	list-style: none;
}
	

// Input number fix

input[type='number'] {
	-moz-appearance:textfield;
}
    


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none
}

textarea {
	resize: none;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}
	

.title {
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	color: $black;
	text-transform: uppercase;
}

.btn {
	font-family: 'Roboto-Medium', sans-serif;
	font-weight: 500;
	display: inline-block;
	border: none;;
	cursor: pointer;
	transition: .2s ease;
	background-color: $red;
	color: #fefefe;
	padding: 14px 20px;
	border-radius: 5px;
	text-align: center;
	
	@media (min-width: 1025px) {
		&:hover {
			background-color: #6a0105;
		}
	}
}


img {
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.overflow-hidden {
	overflow: hidden;

	body {
		overflow: hidden
	} 
}
	
.promocode {
	position: relative;
	padding: 15px;
	background-color: #ffffff;
	border-radius: 5px;
	height: 50px;
	width: 100%;
	padding-right: 60px;
	text-align: center;
	max-width: 250px;

	&__btn {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		right: 0;
		top: 0;
		width: 50px;
		height: 100%;
		border-radius: 5px;
		background-color: $green;
		transition: .2s ease;
	}

	&__text {
		text-transform: uppercase;
		font-family: 'Roboto-Medium', sans-serif;
		font-weight: 500;
	}
}

.second-btn {
	font-family: 'Roboto-Medium', sans-serif;
	font-weight: 500;
	display: inline-block;
	color: $green;
	padding: 15px 50px;
	border-radius: 5px;
	border: 1px solid $green;
	text-align: center;
	transition: .2s ease;
}

.rating {
	display: flex;
	align-items: center;

	&__body {
		font-size: 30px;
		letter-spacing: -3px;
		position: relative;
		&::before {
			// content: "★★★★★";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27px' height='20px'%3E%3Cpath fill-rule='evenodd' fill='%23fff' d='M13.763,6.603 L21.000,7.778 L15.661,12.783 L16.775,20.000 L10.345,16.491 L3.796,19.776 L5.161,12.602 L-0.000,7.415 L7.273,6.491 L10.632,0.000 L13.763,6.603 Z'/%3E%3C/svg%3E");			background-repeat: repeat-x;
			color: #fff;
			// display: block;
		}
	}

	&__active {
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27px' height='20px'%3E%3Cpath fill-rule='evenodd' fill='%23fcb201' d='M13.763,6.603 L21.000,7.778 L15.661,12.783 L16.775,20.000 L10.345,16.491 L3.796,19.776 L5.161,12.602 L-0.000,7.415 L7.273,6.491 L10.632,0.000 L13.763,6.603 Z'/%3E%3C/svg%3E");
			background-repeat: repeat-x;
		overflow: hidden;
	}

	&__list {
		display: flex;
		opacity: 0;
	}


	&__value {
		color: #898989;
		font-size: 20px;
		line-height: 28px;
		margin-left: 5px;
	}

	&__item {
		position: relative;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		// margin-right: 3px;
		flex: 0 0 20%;
		height: 100%;
	}

}

.box {
	&__activate-link {
		display: inline-block;
		font-family: 'Roboto-Light', sans-serif;
		font-weight: 300;
		color: $green;
		margin-bottom: 15px;
	}
	&__title {
		display: block;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 20px;
		line-height: 28px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	&__subtitle {
		font-family: 'Roboto-Light', sans-serif;
		font-weight: 300;
	}
	&__left {
		border: 1px solid $grey;
        transform: skewX(-15deg);
		height: 40px;
		width: 100%;
		margin-right: -15px;
		margin-left: 120px;

		&--white {
			border-color: #fff;
		}
	}
	&__right {
		border: 1px solid $grey;
        transform: skewX(15deg);
		height: 40px;
		width: 100%;
		margin-left: -15px;
		margin-right: 120px;
		&--white {
			border-color: #fff;
		}
	}
	&__head {
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	&__head-title {
		position: relative;
		display: inline-block;
		text-align: center;
		padding: 16px 7px;
		line-height: 40px;
		margin: 0 25px;
		background-color: $grey;
		border-radius: 15px 15px 0 0;

		&::before {
            position: absolute;
            content: "";
            transform: skewX(-15deg);
            background-color: $grey;
            left: -11px;
            top: 0;
            width: 20px;
            height: 100%;
            border-radius: 15px 15px 0 0;
            z-index: 3;
        }
        
        &::after {
            position: absolute;
            content: "";
            transform: skewX(15deg);
            background-color: $grey;
            right: -11px;
            top: 0;
            width: 20px;
			height: 100%;
            border-radius: 15px 15px 0 0;
            z-index: 3;
        }

		span {
			position: relative;
			z-index: 6;
		}

		&--white {
			background-color: #ffffff;

			&::before,
			&::after {
				background-color: #ffffff;
			}
		}
	}
}

.breadcrumbs {
    padding-left: 35px;
	color: #fcb200;
	
	&--mob {
		display: none;
	}

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
    }

    li {
        margin-left: 15px;
        line-height: 24px;

        a {
            display: block;
            position: relative;
            padding-right: 25px;
            &::before,
            &::after {
                position: absolute;
                content: "";
                right: 0;
                top: 55%;
                transform: translateY(-50%);
                width: 4px;
                height: 1.5px;
                background-color: #fcb200;
                transform: rotate(-45deg);
                z-index: 4;
                transition: .3s ease;
            }
    
            &::after {
                top: 46%;
                transform: rotate(-135deg);
            }
        }

        &:last-child {
            color: $black;
            a {
                padding-right: 0;
                &::before,
                &::after {
                    content: none;
                }
            }
        }
    }
}

.casino-page-bg {
    background: url('../images/dist/casino-bg.png') top center / cover no-repeat;
}

